{{#if playerNumber}}
    <script>
        window.playerNumber = "{{playerNumber}}";
    </script>
{{/if}}


{{#unless game.player2}}
    <script>
        window.playerNumber = 1;
    </script>
    <p id="status">Auf anderen Spieler warten</p>
    <div id="board-p1" class="board currentPlayerBoard"></div>
    <div id="board-p2" class="board enemyPlayerBoard"></div>
{{else}}
    <script>
        window.playerNumber = 2;
    </script>
    <p id="status">Spiel startet jetzt</p>
    <div id="board-p2" class="board currentPlayerBoard"></div>
    <div id="board-p1" class="board enemyPlayerBoard"></div>
{{/unless}}