<h1>Schiffe versenken</h1>
{{#if game}}
    <p>Spiel wurde von {{game.player1.name}} gestartet</p>
    <p>Spiel beitreten:</p>
    <form action="/join" method="get">
        <label for="playerName">Spieler Name</label>
        <input type="text" id="playerName" name="name">
        <input type="submit" value="Spiel beitreten"/>
    </form>
{{else}}
   <form action="/start" method="get">
       <label for="playerName">Spieler Name</label>
       <input type="text" id="playerName" name="name">
       <input type="submit" value="Spiel erstellen"/>
   </form>
{{/if}}


