<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width">
    <title>Schiffe versenken</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascript/jquery-3.2.0.min.js"></script>
    <script src="/javascript/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
