body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board {
  float: left;
  margin: 20px;
}

table {
  border-spacing: 0;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #3995ff;
}

td.ship {
  background-color: #676767;
}

td.hit {
  background-color: #4e0a12;
}

td.shot {
  background-color: #83bdc6;
}

.enemyPlayerBoard td {
  cursor: pointer;
}

.currentPlayerBoard thead td {
  background-color: #1bc629;
}

.enemyPlayerBoard thead td {
  background-color: #c64c00;
}
